body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #7baa58;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Arial';
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-family: 'Consolas';
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}
.tweet-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tweet {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tweet-author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tweet-author img{
    width: 60px;
    height: 60px;
}