body {
    margin: 0;
    font-family: 'Consolas', sans-serif;
}

header {
    background-color: rgb(94, 88, 76);
    color: white;
    display: flex;
    justify-content: space-between; /*пространство между дочерними элементами контейнера*/
    align-items: center;
    padding: 10px 20px;
}

header .logo a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2.0em;
    font-family: 'Consolas';
}

nav ul {
    font-family: 'Consolas', monospace;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-family: 'Consolase', monospace;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}


.tweet-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #e7e2d8;
}

.tweet {
    background-color: rgb(182, 215, 183);
    border-radius: 20px; /*закругляшка */
    box-shadow: 0 2px 4px rgb(98, 106, 101);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;/*промежутки*/
}

.tweet-author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tweet-author img{
    width: 60px;
    height: 60px;
}
